h1 {
  text-align: center;
}
h2 {
  text-align: right;
}

p{
  font-size:13px;
}

p.paragraphe1{
  color:red;
}

p.paragraphe2{
  color:blue;
}

#paragraphe3 {
  color:green;
}
strong.Lorem1 {
  font-weight: normal;
  text-decoration: underline;
}
em.bleu {
  color: rgb(2, 65, 201);
}
i.bleu {
  color: rgb(2, 65, 201);
}
mark.surligné_cyan {
  background: cyan;
}
sub {
  vertical-align: super;
  text-decoration:underline;
}
li.souligné {
  text-decoration: underline;
}
li.carré {
  list-style-type: square;
}
li.non_carré {
  list-style-type: none;
}
body {
  width: 1708;
  height: 900;
  margin:3%;
}
ul.non_padding {
  padding: 0%;
}
a:visited{
  color:black;
}